body{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;





}


#header{
    background: linear-gradient(180deg, rgba(58,180,79,1) 20%, rgba(116,223,9,1) 100%);
    display: flex;
    flex: 1;
    max-height: 64px;
    font-weight: 800;
    font-size: x-large;
    align-items: center;
    padding-bottom: 36px;


}

#header > div{
    margin: 8px;
    color: white;
    font-size: 64px;
}


#footer{
    background-color: cadetblue;
    display: flex;
    flex: 1;
    max-height: 24px;
    margin-top: auto;
    background-color: darkgreen;
    align-items: center;
    justify-content: center;
    color: white;
}

#contentBox{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 800px;
    max-height: 600px;


}

#main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#znamka{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 16px; 
    padding: 96px 512px 96px 512px;
    font-size: 64px;
    content: 512px ;

}

#novy{
    background: linear-gradient(0deg, rgba(58,180,79,1) 20%, rgba(116,223,9,1) 100%);
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px 32px 16px 32px;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    border-width: 3px;
    color: black;
    font-weight: 600;
    font-size: 32px;
}
